<div class="gallery-row">
    <div class="gallery-column">
        <img src="/images/challah.jpeg" alt="Challah and buns made from the same dough."/>
        <img src="/images/wheat-and-rye.jpeg" alt="Tartine-style sourdough and 80% Rye" />
        <img src="/images/rolls-2.jpeg" alt="A batch of plaited rolls"/>
        <img src="/images/bread-head-buns.jpeg" alt="Bun and flour pareidolia" />
        <img src="/images/rolls.jpeg" alt="Some more plaited rolls"/>

    </div>
    <div class="gallery-column">
        <img src="/images/bread-head.jpeg" alt="Sourdough with sunglasses."/>
        <img src="/images/sourdough-and-bagels.jpeg" alt="A feast of bagels and wheat sourdough loaves"/>
        <img src="/images/sourdough-and-pi.jpeg" alt="Sourdough bread resting beside a rasberry pi 400"/>
        <img src="/images/buns.jpeg" alt="A 3x4 grid of soft butter rolls to be baked."/>
    </div>
</div>
